<% layout('layouts/boilerplate')%>

<div id="aboutSection" class="my-5">
    <div class="container mt-5">
        <div class="row mt-3 justify-content-center">
            
            <div class="col-md-8 fs-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="text-center">About YelpCamp</h1>
                        <hr>
                    </div>
                </div>
                <div class="text-center p-2">
                   <p>YelpCamp is a full stack application where users can create new campgrounds and can review other's campgrounds. To get started, <a href="/register">register</a>.
                     This app supports user authentication and authorization, posts management (creating, editing, and deleting), image uploading, responsive design, etc.
                     YelpCamp is created using Node.js, Express and MongoDB.
                   </p>
                   </div>
                   <h2>Features</h2>
                   <ul></ul>
                   <li>Users can create, edit and delete campgrounds.</li>
                   <li>Users can review campgrounds, and delete their review.</li>
                   <li>Informative Cluster Maps to show locations of different campgrounds.</li>
                   <hr>
                <p> This project is from Colt Steele's <a href="https://www.udemy.com/course/the-web-developer-bootcamp/"> Web Dev Bootcamp 2022</a> with some added features.</p>
            </div>
            
        